.grid {
  display: grid;
  max-width: 1275px;
  gap: 30px;
  --minWidth: 200px;
  grid-template-columns: repeat(
    auto-fit,
    minmax(min(var(--minWidth), 100%), 1fr)
  );
  margin: auto;
  padding-bottom: 25px;
}
