.productOuter {
  margin-top: 1em;
  margin-bottom: 1em;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 4px 15px 0 rgba(0, 0, 40, 0.2);
}
.productImage {
  display: block;
  width: 100%;
  max-width: 500px;
  padding: 50px;
}

.image {
  display: block;
  width: 100%;
  max-width: 500px;
  object-fit: cover;
}

.productOverview {
  display: block;
  width: 55%;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 15px;
  margin-right: 15px;
}

.productArtist {
  margin-left: 0;
}

.productTitle {
  margin-bottom: 0.5em;
}

.productPrice {
  margin-bottom: 0.5em;
  margin-top: 0.5em;
}

.productDescription {
  margin-top: 1em;
}

.productDetails {
  background-color: white;
  padding: 15px;
  margin-top: 1em;
  border-radius: 10px;
  margin-right: auto;
  box-shadow: 0 4px 15px 0 rgba(0, 0, 40, 0.2);
}

/* mobile */
@media only screen and (max-width: 720px) {
  .productOuter {
    flex-direction: column;
  }

  .productOverview {
    display: block;
    width: 100%;
    padding: 15px;
  }

  .productImage {
    display: block;
    width: 100%;
  }
}
