.loginForm {
  width: 400px;
}

.loginButton {
  background-color: #212121;
}

.error {
  color: #f23737;
}

.errorContainer {
  margin-top: 1rem;
  text-align: left;
  padding: 20px 20px 20px 70px;
  background-image: url(../../../public/images/error.png);
  background-repeat: no-repeat;
  background-size: 24px;
  background-position: 30px center;
  background-color: #fae7ec;
}

.button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 15px;
  border-radius: 7px;
}
