.carouselImg {
  display: block;
  width: 100%;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 4px 20px 0 rgba(0, 0, 40, 50%);
  margin-bottom: 4em;
  object-fit: cover;
  aspect-ratio: 1/1;
}

.carouselh3 {
  max-width: 1200px;

  margin: auto;
  opacity: 0.6;
  color: #ffffff;
}

.carouselh1 {
  max-width: 1200px;
  text-align: start;
  color: white;
  position: static;
}
