.Container {
  display: flex;
  text-align: center;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
}

.Button {
  flex-basis: 0;
  flex-grow: 1;
  text-align: center;
  margin: 10px;
}

@media screen and (max-width: 580px) {
  .Container {
    max-width: 400px;
    flex-direction: column;
    text-align: center;
    margin-top: 0pc;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;
  }

  .Button {
    text-align: center;
    margin: 10px 0px 10px 0px;
    box-sizing: border-box;
  }
}
