/* Create a sticky/fixed navbar */
.navbar {
  display: block;
  overflow: hidden;
  background-color: #212121;
  transition: padding 0.2s; /* Adds a transition effect when the padding is decreased */
  position: fixed; /* Sticky/fixed navbar */
  width: 100%;
  top: 0; /* At the top */
  z-index: 99;
  align-items: center;
}

/* Style the navbar links */
.navbarRightLink {
  font-family: "Oswald", sans-serif !important;
  font-weight: bold !important;
  float: left;
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
  margin-bottom: 0 !important;
}

.navbarRightLink.active {
  text-decoration: underline;
  text-decoration-thickness: 2px;
}

.navbarRightLink:hover {
  color: rgb(255, 255, 255);
  text-decoration: underline;
  text-decoration-thickness: 2px;
}

/* Style the logo */
.logo {
  display: inline-block;
  position: relative;
  font-weight: bold;
  transition: 0.4s;
}

.logoel1 {
  position: absolute;
  max-width: 120px;
  transform: translate(28%, -50%);
  top: 53%;
  object-fit: contain;
  transition: opacity 250ms;
  z-index: -1;
}

.logoel2 {
  font-family: "Oswald", sans-serif !important;
  font-weight: bold !important;
  float: left;
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 12px;
  line-height: 25px;
  border-radius: 4px;
  margin-bottom: 0 !important;
  visibility: visible;
  font-size: 18px;
  max-width: 300px;
  letter-spacing: 0.05em;
  transition: font-size 200ms;
}

.logoel2:hover {
  color: rgb(255, 255, 255);
  text-decoration: underline;
  text-decoration-thickness: 2px;
}

.icon {
  display: none;
}

.iconResponsive {
  display: none;
}

/* Links on mouse-over */

.logoel1:hover {
  animation: rotate 0.55s infinite linear;
}

@keyframes rotate {
  0% {
    transform: translate(28%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(28%, -50%) rotate(360deg);
  }
}

/* Display some links to the right */
.navbarRight,
.navbarRightResponsive {
  float: right;
  overflow: hidden;
  margin-right: 1em;
}

/* Add responsiveness - on screens less than 580px wide, display the navbar vertically instead of horizontally */
@media screen and (max-width: 580px) {
  .navbar {
    padding: 20px 10px !important; /* Use !important to make sure that JavaScript doesn't override the padding on small screens */
  }

  .logoel1 {
    display: none;
  }
}

/* .iconResponsive {
  display: block;
} */

@media screen and (max-width: 600px) {
  .navbarRightLink {
    display: none;
  }

  .iconResponsive:hover {
    color: rgb(255, 174, 174);
  }
  .icon:hover {
    color: rgb(255, 174, 174);
  }

  .iconResponsive {
    display: block;
    font-family: "Oswald", sans-serif !important;
    font-weight: bold !important;
    float: left;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
    margin-bottom: 0 !important;
    position: fixed;
    right: 1em;
    top: 1em;
  }

  .icon {
    font-family: "Oswald", sans-serif !important;
    font-weight: bold !important;
    float: left;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
    margin-bottom: 0 !important;
    display: block;
    position: fixed;
    right: 1em;
    top: 1em;
  }

  .navbarRightResponsive {
    position: relative;
    width: 100%;
    float: none !important;
  }

  .navbarRightResponsive a:not(:first-child) {
    display: block;
    text-align: left;
    float: none !important;
  }
}
