/* product-description.html */

.productOuter {
  margin-top: 1em;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
}
.productImage {
  display: block;
  width: 40%;
  object-fit: cover;
}
.productOverview {
  display: block;
  width: 55%;
  margin-left: 15px;
}

/* not used */
.productOverview p {
  margin-top: 1em;
  line-height: 150%;
}
.productDetails {
  max-width: 1300px;
  background-color: #efefef;
  padding: 15px;
  margin-top: 1em;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
}

.productPrice {
  font-size: 24px;
  margin-bottom: 0.5em;
  margin-top: 0.5em;
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 900;
  letter-spacing: -0.01em;
}

.image {
  display: block;
  width: 100%;
  max-width: 500px;
  object-fit: cover;
}

/* not used */
.productOverview button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 15px;
  border-radius: 5px;
}

.productTitle {
  font-size: 1.96875rem;
  font-size: 36px;
  margin-bottom: 0.5em;
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 900;
  letter-spacing: -0.01em;
  margin-left: 0;
}
.productArtist {
  margin-left: 0;
}

/* mobile */
@media only screen and (max-width: 720px) {
  .productOuter {
    flex-direction: column;
  }
  .productOverview {
    display: block;
    width: 100%;
    margin-left: 0px;
  }
  .productImage {
    display: block;
    width: 100%;
  }
}
