.filterComponentSelect {
  position: relative;
  border: none;
  height: 1.625rem;
  background-color: transparent;
  border-radius: 0;
  appearance: none;
  outline: none;
  width: 100%;
  line-height: initial;
  font-size: inherit;
  color: inherit;
  font-size: 16px;
}

.icon {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  z-index: -1;
}
.filterWrap {
  position: relative;
  display: inline-block;
  border-bottom: 1px solid black;
  width: 100%;
  font-size: 0.75rem;
}
